body {
  font-family: "Raleway", "Roboto";
}

.body-style {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

.logo {
 color: #4d5ae5 ;
 font-family: "Raleway";
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 font-family: "Raleway", sans-serif;
 display: inline-block;
 margin-bottom: 16px;
}

.stidio {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-item {
 list-style-type: none;
}

.menu-link {
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.02em;
 text-decoration: none;
}

.link {
  color: #2e2f42;
}

.link-addr {
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
  color: #434455;
}

.link-addr:hover {
  color: #404bbf;
}

.link-addr:focus {
  color: #404bbf;
}


.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

 

.address-link:hover,
.address-link:focus {
  color: #404bbf; 
}

.button-menu {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.button-subtitle {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.button-text {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-text:hover {
  background-color: #404BBF;
}
.button-text:focus {
  background-color: #404BBF;
}

.description-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.description-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.gallery {
  background-color: #F4F4FD;
}

.gallery-item {
  background-color: #ffffff;
}

.gallery-caption {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #ffffff;
}

.gallery-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

.gallety-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

.portfolio-title {
  line-height: 1.2;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5 
}

.web-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-1 {
  color: #4d5ae5;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
 }

 .stidio {
  color: #2e2f42;
 }
 
 .stidio-footer {
  color: #f4f4fd;
 }

 .web-studio-text {
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
 }
