.mark {
  width: 264px;
  height: 380px;
  top: 1248px;
  left: 156px;
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px;
  gap: 32px;
}
.tom {
  width: 264px;
  height: 380px;
  top: 1248px;
  left: 444px;
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px;
  gap: 32px;
}
.camila {
  width: 264px;
  height: 380px;
  top: 1248px;
  left: 732px;
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px;
  gap: 32px;
}
.daniel {
  width: 264px;
  height: 380px;
  top: 1248px;
  left: 
1020px;
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px;
  gap: 32px;
}


.our-team {
  width: 1440px;
  height: 732px;
  top: 1016px;
  background-color: #F4F4FD;
}
